/* line 24, ../sass/_variables.scss */
p {
  margin: 0 0 25px;
  line-height: 1.35;
}

/* line 68, ../sass/_variables.scss */
#mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 82, ../sass/_variables.scss */
#mainbanner, #video-section:before, #who-we-are-section .section, #employer-section .section, #mission-section .section:before, #imagineering-section .section, #communication-section .section, #contact-section .section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
}

/* =Import Required styles
========================================================================================*/
@font-face {
  font-family: 'ProximaLight';
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#ProximaLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaRegular';
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#ProximaRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaBold';
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#ProximaBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =Box Sizing 
========================================================================================*/
/* line 44, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 45, ../sass/style.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 46, ../sass/style.scss */
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], textarea, select, input[type="button"], input[type="submit"], button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 48, ../sass/style.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}

/* line 49, ../sass/style.scss */
.cf:after {
  clear: both;
}

/* line 50, ../sass/style.scss */
.cf {
  zoom: 1;
}

/* line 52, ../sass/style.scss */
body {
  font-family: "ProximaLight", Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #0f1521;
}

/* line 54, ../sass/style.scss */
img {
  vertical-align: top;
  border: 0;
}

/* line 55, ../sass/style.scss */
a {
  outline: none;
}

/* line 56, ../sass/style.scss */
a:focus {
  outline: none;
  text-decoration: none;
}

/* line 57, ../sass/style.scss */
:focus {
  outline: none;
}

/* line 59, ../sass/style.scss */
.cols {
  *zoom: 1;
  margin-left: -20px;
  margin-right: -20px;
  clear: both;
}

/* line 60, ../sass/style.scss */
.cols:after {
  content: "";
  display: table;
  clear: both;
}

/* line 61, ../sass/style.scss */
.cols .col {
  float: left;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 62, ../sass/style.scss */
.cols1 .col {
  width: 100%;
}

/* line 63, ../sass/style.scss */
.cols2 .col {
  width: 50%;
}

/* line 64, ../sass/style.scss */
.cols3 .col {
  width: 33.333333333333%;
}

/* line 65, ../sass/style.scss */
.cols4 .col {
  width: 25%;
}

/* line 66, ../sass/style.scss */
.cols5 .col {
  width: 20%;
}

/* =Form Style
========================================================================================*/
/* line 70, ../sass/style.scss */
button, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea, select, input[type="submit"], input[type="button"] {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 71, ../sass/style.scss */
button, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea, input[type="submit"], input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 72, ../sass/style.scss */
button, input {
  line-height: normal;
}

/* line 73, ../sass/style.scss */
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea, select {
  background: #fff;
  padding: 4px 12px;
  height: 35px;
  line-height: 1.55;
  border: solid 1px #d4d4d4;
  color: #fff;
  width: 100%;
  -moz-transition: border-color 200ms ease-in;
  -webkit-transition: border-color 200ms ease-in;
  transition: border-color 200ms ease-in;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 0;
}

/* line 74, ../sass/style.scss */
input[type="text"].input-lg, input[type="password"].input-lg, input[type="email"].input-lg, input[type="tel"].input-lg, input[type="search"].input-lg, input[type="url"].input-lg {
  height: 58px;
}

/* line 75, ../sass/style.scss */
input[type="text"].input-sm, input[type="password"].input-sm, input[type="email"].input-sm, input[type="tel"].input-sm, input[type="search"].input-sm, input[type="url"].input-sm {
  height: 38px;
}

/* line 76, ../sass/style.scss */
textarea {
  width: 100%;
  height: 160px;
  overflow: auto;
  resize: vertical;
  padding: 10px 15px;
  font-family: 'karbon-regular', Helvetica, sans-serif;
}

/* line 77, ../sass/style.scss */
select {
  height: auto;
  padding: 12px 42px 12px 12px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: relative;
  z-index: 1;
  background: none;
  line-height: 1.25;
  border-radius: 5px;
  font-size: 16px;
}

/* line 78, ../sass/style.scss */
select::-ms-expand {
  display: none;
}

/* line 79, ../sass/style.scss */
.custom-select {
  display: block;
  margin: 0;
  position: relative;
  background: #fff;
}

/* line 80, ../sass/style.scss */
.custom-select:before {
  content: '';
  position: absolute;
  background: #d4d4d4;
  width: 1px;
  height: 100%;
  right: 45px;
  top: 0;
}

/* line 81, ../sass/style.scss */
.custom-select:after {
  content: '';
  background: url(../images/bgi/sprites.svg) no-repeat -105px 0;
  width: 14px;
  height: 16px;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -8px;
}

/* line 82, ../sass/style.scss */
.ie select {
  padding-right: 0;
}

/* line 83, ../sass/style.scss */
.ie .custom-select:before {
  z-index: 2;
  height: 40px;
}

/* line 84, ../sass/style.scss */
.ie .custom-select:after {
  z-index: 3;
}

/* line 85, ../sass/style.scss */
.ie input[type="text"], .ie input[type="password"], .ie input[type="email"], .ie input[type="tel"], .ie input[type="search"], .ie input[type="url"], .ie select {
  line-height: 32px;
}

/* line 87, ../sass/style.scss */
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="search"]:focus, input[type="url"]:focus, textarea:focus, select:focus {
  border: solid 1px #acacac;
}

/* line 88, ../sass/style.scss */
input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 89, ../sass/style.scss */
input[type="button"], input[type="submit"], button {
  border: 0;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 8px 20px;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  font-family: 'Lato', Helvetica, sans-serif;
  border-radius: 0;
  margin: 0 5px 0 0;
}

/* line 90, ../sass/style.scss */
input[type="button"]:hover, input[type="submit"]:hover, button:hover {
  background: #033a6c;
  color: #fff;
}

/* line 91, ../sass/style.scss */
input[type="checkbox"], input[type="radio"] {
  margin: 4px 8px 0;
  vertical-align: top;
}

/* line 95, ../sass/style.scss */
.container {
  width: 1200px;
}

/* line 96, ../sass/style.scss */
.box-table {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 97, ../sass/style.scss */
.box-info {
  display: table-cell;
  vertical-align: middle;
}

/* line 99, ../sass/style.scss */
.affix {
  width: 100%;
  z-index: 999 !important;
  top: 0;
}

/* line 104, ../sass/style.scss */
#header #logo {
  width: 356px;
  margin: 0 auto;
  display: block;
  padding: 20px;
}
/* line 106, ../sass/style.scss */
#header #logo img {
  max-width: 100%;
  height: auto;
}

/* line 110, ../sass/style.scss */
#mainmenu {
  background: #0756cf;
  -moz-box-shadow: 3px 6px 10px rgba(32, 32, 34, 0.25);
  -webkit-box-shadow: 3px 6px 10px rgba(32, 32, 34, 0.25);
  box-shadow: 3px 6px 10px rgba(32, 32, 34, 0.25);
}
/* line 112, ../sass/style.scss */
#mainmenu ul {
  text-align: center;
  font-size: 0;
}
/* line 114, ../sass/style.scss */
#mainmenu ul li {
  display: inline-block;
  line-height: 50px;
  padding: 0 18px;
}
/* line 116, ../sass/style.scss */
#mainmenu ul li a {
  font-family: "ProximaRegular", Arial, Helvetica, sans-serif;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  display: block;
}
/* line 118, ../sass/style.scss */
#mainmenu ul li a:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 10px;
  opacity: 0;
}
/* line 119, ../sass/style.scss */
#mainmenu ul li a:hover:after {
  opacity: 1;
}
/* line 121, ../sass/style.scss */
#mainmenu ul li.current a:after {
  opacity: 1;
}
/* line 123, ../sass/style.scss */
#mainmenu ul a:hover {
  text-decoration: none;
}

/* line 128, ../sass/style.scss */
#mainbanner {
  height: 652px;
  background-image: url(../images/banner-bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #fff;
}
/* line 130, ../sass/style.scss */
#mainbanner .container {
  height: 100%;
}
/* line 131, ../sass/style.scss */
#mainbanner .box-table {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
/* line 134, ../sass/style.scss */
#mainbanner .box-table .box-info > a {
  font-size: 28px;
  font-family: "ProximaBold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #fff;
}
/* line 137, ../sass/style.scss */
#mainbanner h3 {
  font-size: 38px;
  text-shadow: 0px 3px 10px rgba(32, 32, 34, 0.25);
  text-transform: uppercase;
  padding: 0 90px;
  margin: 0 0 20px;
  position: relative;
}
/* line 139, ../sass/style.scss */
#mainbanner h3 span {
  display: block;
}
/* line 140, ../sass/style.scss */
#mainbanner h3 strong {
  font-family: "ProximaBold", Arial, Helvetica, sans-serif;
  font-weight: normal;
}
/* line 141, ../sass/style.scss */
#mainbanner h3:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 87px;
  height: 92px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -110px -100px;
  top: -50px;
}
/* line 142, ../sass/style.scss */
#mainbanner h3:after {
  content: "";
  position: absolute;
  right: 0;
  width: 87px;
  height: 92px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -204px -100px;
  bottom: -50px;
}
/* line 145, ../sass/style.scss */
#mainbanner ul {
  padding: 0;
  list-style: none;
  display: block;
  margin: 60px 0 0 -60px;
}
/* line 147, ../sass/style.scss */
#mainbanner ul li {
  font-size: 18px;
  color: #fff;
  display: inline-block;
  margin: 0 0 0 60px;
}
/* line 148, ../sass/style.scss */
#mainbanner ul li:before {
  content: "";
  width: 94px;
  height: 96px;
  margin: 0 auto 20px;
  display: block;
}
/* line 149, ../sass/style.scss */
#mainbanner ul .curious-icon:before {
  width: 94px;
  height: 96px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -8px -4px;
}
/* line 150, ../sass/style.scss */
#mainbanner ul .find-icon:before {
  width: 94px;
  height: 96px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -110px -4px;
}
/* line 151, ../sass/style.scss */
#mainbanner ul .something-icon:before {
  width: 94px;
  height: 96px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -8px -106px;
}
/* line 154, ../sass/style.scss */
#mainbanner .mouse-icon {
  position: relative;
  top: 50px;
  display: inline-block;
}
/* line 156, ../sass/style.scss */
#mainbanner .mouse-icon .mouse {
  width: 28px;
  height: 58px;
  border-radius: 32px;
  border: 2px solid #fff;
  position: absolute;
  display: block;
  text-indent: -999em;
  left: 2px;
  top: 20px;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
/* line 158, ../sass/style.scss */
#mainbanner .mouse-icon .mouse:before {
  content: "";
  width: 2px;
  height: 8px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  -webkit-animation-name: drop;
  -webkit-animation-name: drop;
  animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
}

/* line 164, ../sass/style.scss */
.readmore {
  font-size: 25px;
  margin: 0 auto;
  display: block;
  width: 126px;
  position: relative;
  color: #fff;
  padding-right: 62px;
  text-transform: uppercase;
}
/* line 166, ../sass/style.scss */
.readmore.dark {
  color: #0f1521;
}
/* line 167, ../sass/style.scss */
.readmore:before {
  width: 46px;
  height: 46px;
  border: 1px solid #fff;
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  right: 0;
  top: 50%;
  margin-top: -23px;
  content: "";
}
/* line 168, ../sass/style.scss */
.readmore:after {
  content: "";
  position: absolute;
  right: 0;
  top: -5px;
  width: 46px;
  height: 46px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -226px -249px;
  -moz-transition: all 500ms cubic-bezier(0.45, 1, 0.32, 1);
  -webkit-transition: all 500ms cubic-bezier(0.45, 1, 0.32, 1);
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 500ms cubic-bezier(0.45, 1, 0.32, 1);
  transition: all 500ms cubic-bezier(0.45, 1, 0.32, 1);
}
/* line 169, ../sass/style.scss */
.readmore:hover {
  color: #0090ff;
  text-decoration: none;
}
/* line 170, ../sass/style.scss */
.readmore:hover:before {
  border-color: #0090ff;
}
/* line 171, ../sass/style.scss */
.readmore:hover:after {
  width: 46px;
  height: 46px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -226px -305px;
}
/* line 172, ../sass/style.scss */
.readmore.dark {
  color: #0f1521;
}
/* line 173, ../sass/style.scss */
.readmore.dark:hover {
  color: #fed153;
}
/* line 174, ../sass/style.scss */
.readmore.dark:before {
  border-color: #0f1521;
}
/* line 175, ../sass/style.scss */
.readmore.dark:hover:before {
  border: 1px solid #fed153;
}
/* line 176, ../sass/style.scss */
.readmore.dark:after {
  width: 46px;
  height: 46px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -277px -249px;
}
/* line 177, ../sass/style.scss */
.readmore.dark:hover:after {
  width: 46px;
  height: 46px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -277px -305px;
}

/* line 180, ../sass/style.scss */
.round-button {
  width: 116px;
  height: 116px;
  border: 1px solid #fff;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: 0;
  text-align: center;
  line-height: 116px;
  top: 0;
  text-transform: uppercase;
  font-family: "ProximaBold", Arial, Helvetica, sans-serif;
  bottom: 0;
  margin: auto;
  left: 0;
}
/* line 182, ../sass/style.scss */
.round-button:hover {
  background: #0756cf;
  color: #fff;
  border-color: #0756cf;
}
/* line 183, ../sass/style.scss */
.round-button span {
  line-height: 1.15;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

/* line 186, ../sass/style.scss */
.btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  padding: 10px 70px;
  text-transform: uppercase;
  font-size: 22px;
}
/* line 188, ../sass/style.scss */
.btn.btn-primary {
  background: #0251cf;
  color: #fff;
}

/* line 193, ../sass/style.scss */
.strip {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

/* line 194, ../sass/style.scss */
.strip-01 {
  position: absolute;
  right: 0;
  margin-left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 944px solid #383f47;
  border-left: 472px solid transparent;
}

/* line 195, ../sass/style.scss */
.strip-02 {
  position: absolute;
  left: 100%;
  margin-left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 944px solid #444a52;
  border-right: 472px solid transparent;
}

/* line 196, ../sass/style.scss */
.strip-line {
  width: 47px;
  height: 100%;
  position: absolute;
  left: 0;
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -webkit-transform: rotate(18deg);
  transform: rotate(18deg);
  transform-origin: left top;
  top: -30px;
  background: blue;
}

/* line 197, ../sass/style.scss */
.strip-space {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

/* line 198, ../sass/style.scss */
.section-container {
  position: relative;
}

/* line 202, ../sass/style.scss */
.section h3 {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 38px;
  margin: 0 0 40px;
}
/* line 203, ../sass/style.scss */
.section .section-box-info {
  position: relative;
  overflow: hidden;
}
/* line 204, ../sass/style.scss */
.section .section-box {
  padding: 100px 0;
  position: relative;
  z-index: 100;
}

/* line 207, ../sass/style.scss */
.muti-section-container {
  position: relative;
  overflow: hidden;
}
/* line 209, ../sass/style.scss */
.muti-section-container .strip-space {
  left: auto;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

/* line 214, ../sass/style.scss */
#journey-section .section {
  background: #383f47;
  color: #fff;
  position: relative;
  overflow: hidden;
  padding: 0;
}
/* line 216, ../sass/style.scss */
#journey-section .section:before {
  content: "";
  width: 50%;
  height: 100%;
  background: #444a52;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 217, ../sass/style.scss */
#journey-section .section .strip {
  width: 61.875%;
  background: #444a52;
}
/* line 218, ../sass/style.scss */
#journey-section .section .container {
  position: relative;
  z-index: 10;
}
/* line 220, ../sass/style.scss */
#journey-section .section .container h3 {
  margin: 0 0 100px;
}
/* line 221, ../sass/style.scss */
#journey-section .section .container blockquote {
  font-size: 42px;
  border: 0;
  padding: 0 50px;
  line-height: 1.25;
  text-align: center;
}
/* line 223, ../sass/style.scss */
#journey-section .section .container blockquote:before, #journey-section .section .container blockquote:after {
  content: "";
  position: absolute;
  left: 50px;
  bottom: 100%;
  margin-bottom: -20px;
  width: 76px;
  height: 86px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -2px -218px;
}
/* line 224, ../sass/style.scss */
#journey-section .section .container blockquote:after {
  left: auto;
  bottom: auto;
  margin-bottom: 0;
  right: 50px;
  top: 100%;
  margin-top: -40px;
}
/* line 228, ../sass/style.scss */
#journey-section .section .container .right-container .col-container {
  padding-left: 70px;
}
/* line 229, ../sass/style.scss */
#journey-section .section .container .right-container p {
  margin: 30px 0 0;
}
/* line 231, ../sass/style.scss */
#journey-section .section .container .right-container p:first-child {
  margin: 0;
  font-size: 32px;
}

/* line 238, ../sass/style.scss */
#video-section {
  position: relative;
  overflow: hidden;
}
/* line 240, ../sass/style.scss */
#video-section .strip {
  width: 60%;
  background: #fff;
  background: #fff;
}
/* line 241, ../sass/style.scss */
#video-section .strip-01 {
  border-bottom-color: #fff;
  z-index: 25;
  right: auto;
  left: 100%;
  top: auto;
  bottom: 0;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 242, ../sass/style.scss */
#video-section .strip-02 {
  border-top-color: #fed153;
  top: auto;
  bottom: 0;
}
/* line 243, ../sass/style.scss */
#video-section:before {
  content: "";
  width: 44%;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  background-image: url(../images/video-bg.jpg);
  background-position: 0 0;
}
/* line 244, ../sass/style.scss */
#video-section .overlay-bg {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 45%;
  height: 100%;
}
/* line 245, ../sass/style.scss */
#video-section .container {
  position: relative;
  z-index: 30;
}
/* line 248, ../sass/style.scss */
#video-section .container .left-container .col-container {
  padding-right: 50px;
}
/* line 250, ../sass/style.scss */
#video-section .container .left-container .col-container h3 {
  text-align: left;
}

/* line 257, ../sass/style.scss */
#who-we-are-section .section {
  background-image: url(../images/who-we-are-bg.jpg);
  color: #fff;
  position: relative;
  overflow: hidden;
  -moz-box-shadow: -3px -6px 10px rgba(32, 32, 34, 0.25);
  -webkit-box-shadow: -3px -6px 10px rgba(32, 32, 34, 0.25);
  box-shadow: -3px -6px 10px rgba(32, 32, 34, 0.25);
  z-index: 30;
}
/* line 259, ../sass/style.scss */
#who-we-are-section .section .strip {
  width: 40%;
  background: rgba(0, 0, 0, 0.5);
  right: 0;
  left: auto;
}
/* line 260, ../sass/style.scss */
#who-we-are-section .section .strip-01 {
  right: 100%;
  border-bottom-color: rgba(0, 0, 0, 0.5);
}
/* line 261, ../sass/style.scss */
#who-we-are-section .section .container {
  position: relative;
  z-index: 30;
}
/* line 262, ../sass/style.scss */
#who-we-are-section .section .col-container {
  padding-left: 70px;
}
/* line 263, ../sass/style.scss */
#who-we-are-section .section p {
  margin: 30px 0 0;
}
/* line 264, ../sass/style.scss */
#who-we-are-section .section h3 + p {
  margin: 0;
}
/* line 265, ../sass/style.scss */
#who-we-are-section .section .round-button {
  font-size: 16px;
}

/* line 270, ../sass/style.scss */
.carousel-section .slick-prev {
  left: -50px;
}
/* line 271, ../sass/style.scss */
.carousel-section .slick-next {
  right: -60px;
}

/* line 275, ../sass/style.scss */
#employer-section .section {
  background-image: url(../images/employer-bg.jpg);
  overflow: hidden;
  color: #fff;
  position: relative;
  -moz-box-shadow: -3px -6px 10px rgba(32, 32, 34, 0.25);
  -webkit-box-shadow: -3px -6px 10px rgba(32, 32, 34, 0.25);
  box-shadow: -3px -6px 10px rgba(32, 32, 34, 0.25);
  padding: 0;
}
/* line 276, ../sass/style.scss */
#employer-section h3 {
  text-align: left;
}
/* line 277, ../sass/style.scss */
#employer-section .strip {
  width: 55%;
  background: rgba(7, 11, 15, 0.7);
}
/* line 278, ../sass/style.scss */
#employer-section .strip-01 {
  border-bottom-color: rgba(7, 11, 15, 0.7);
  top: auto;
  bottom: 0;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  right: auto;
  left: 100%;
}
/* line 279, ../sass/style.scss */
#employer-section .strip-space {
  background: rgba(7, 11, 15, 0.7);
}
/* line 280, ../sass/style.scss */
#employer-section p {
  margin: 30px 0 0;
}
/* line 282, ../sass/style.scss */
#employer-section p:first-child {
  margin: 0;
}
/* line 283, ../sass/style.scss */
#employer-section p.highlight {
  font-family: "ProximaRegular", Arial, Helvetica, sans-serif;
}
/* line 285, ../sass/style.scss */
#employer-section .container-row {
  width: 53.5%;
}
/* line 286, ../sass/style.scss */
#employer-section .container-row-right {
  width: 46.5%;
}
/* line 288, ../sass/style.scss */
#employer-section .container-row-right .round-button {
  font-size: 16px;
  left: auto;
  right: 20px;
}

/* line 293, ../sass/style.scss */
#mission-section .section {
  position: relative;
  overflow: hidden;
  padding: 0;
}
/* line 295, ../sass/style.scss */
#mission-section .section:before {
  width: 50%;
  height: 100%;
  content: "";
  background-image: url(../images/mission-bg.jpg);
  position: absolute;
  left: 0;
  top: 0;
}
/* line 296, ../sass/style.scss */
#mission-section .section h3 {
  text-align: right;
  padding-left: 110px;
}
/* line 297, ../sass/style.scss */
#mission-section .section .container-row {
  width: 55.83333333333333%;
  text-align: right;
}
/* line 298, ../sass/style.scss */
#mission-section .section .col-container {
  padding-left: 36px;
}
/* line 299, ../sass/style.scss */
#mission-section .section .readmore {
  display: inline-block;
  margin: 0;
}
/* line 300, ../sass/style.scss */
#mission-section .section .strip {
  width: 45%;
  right: -10px;
  left: auto;
}
/* line 301, ../sass/style.scss */
#mission-section .section .strip-01 {
  left: auto;
  right: 100%;
  border-bottom-color: #fff;
  z-index: 25;
  margin-right: -40px;
}
/* line 302, ../sass/style.scss */
#mission-section .section .strip-line {
  background: #fed153;
}

/* line 307, ../sass/style.scss */
#imagineering-section .section {
  padding: 100px 0;
  background-image: url(../images/imagineering-section.jpg);
  color: #fff;
}
/* line 309, ../sass/style.scss */
#imagineering-section .section .col-container {
  background: #1759c9;
  padding: 24px;
}
/* line 310, ../sass/style.scss */
#imagineering-section .section .box-summary {
  margin: 30px 0 0;
}
/* line 311, ../sass/style.scss */
#imagineering-section .section .item {
  margin: 0 15px;
}
/* line 312, ../sass/style.scss */
#imagineering-section .section .carousel-section .slick-slide img {
  width: 100%;
  height: auto;
}
/* line 313, ../sass/style.scss */
#imagineering-section .section h4 {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
/* line 315, ../sass/style.scss */
#imagineering-section .section h4 a {
  color: #fff;
  display: block;
}
/* line 317, ../sass/style.scss */
#imagineering-section .section h4 a:after {
  content: ">>";
  display: inline-block;
  margin-left: 5px;
}
/* line 318, ../sass/style.scss */
#imagineering-section .section h4 a:hover {
  color: #fed153;
  text-decoration: none;
}

/* line 325, ../sass/style.scss */
#communication-section .section {
  background-image: url(../images/communication-bg.jpg);
  color: #fff;
  padding: 86px 0;
}
/* line 327, ../sass/style.scss */
#communication-section .section .col-sm-4 {
  margin: 0 0 30px;
}
/* line 328, ../sass/style.scss */
#communication-section .section .icon {
  width: 90px;
  height: 90px;
  border: 1px solid #1a90f5;
  display: block;
  position: absolute;
  left: 40px;
  top: 50%;
  margin-top: -45px;
  text-indent: -999em;
}
/* line 329, ../sass/style.scss */
#communication-section .section .icon:after {
  position: absolute;
  left: 0;
  width: 90px;
  content: "";
  height: 90px;
  top: 0;
  background: url(../images/bgi/sprite.png) 0 0 no-repeat;
}
/* line 330, ../sass/style.scss */
#communication-section .section .compelling-col .icon:after {
  background-position: -31px -26px;
}
/* line 331, ../sass/style.scss */
#communication-section .section .evoke-col .icon:after {
  background-position: -138px -26px;
}
/* line 332, ../sass/style.scss */
#communication-section .section .contextual-col .icon:after {
  background-position: -241px -26px;
}
/* line 333, ../sass/style.scss */
#communication-section .section .conversational-col .icon:after {
  background-position: -31px -131px;
}
/* line 334, ../sass/style.scss */
#communication-section .section .clear-icon .icon:after {
  background-position: -138px -131px;
}
/* line 335, ../sass/style.scss */
#communication-section .section .adaptable-col .icon:after {
  background-position: -241px -131px;
}
/* line 336, ../sass/style.scss */
#communication-section .section .col-container {
  background: rgba(75, 88, 111, 0.5);
}
/* line 338, ../sass/style.scss */
#communication-section .section .col-container h4 {
  font-size: 26px;
  margin: 0;
  letter-spacing: -0.055em;
}
/* line 340, ../sass/style.scss */
#communication-section .section .col-container h4 span {
  display: block;
}
/* line 343, ../sass/style.scss */
#communication-section .section .col-container .col-summary {
  height: 100%;
  padding: 40px 40px 40px 138px;
}

/* line 350, ../sass/style.scss */
#stackholder-section .section {
  position: relative;
  overflow: hidden;
  padding: 42px 0;
}
/* line 352, ../sass/style.scss */
#stackholder-section .section .container {
  position: relative;
  z-index: 10;
}
/* line 353, ../sass/style.scss */
#stackholder-section .section .strip {
  width: 50%;
}
/* line 354, ../sass/style.scss */
#stackholder-section .section .strip-01 {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  right: auto;
  left: 0;
  top: auto;
  bottom: 0;
  border-bottom-color: #efefef;
}

/* line 359, ../sass/style.scss */
#contact-section .section {
  color: #fff;
  background-image: url(../images/contact-mktg-bg.jpg);
  background-color: #1559bc;
  -moz-box-shadow: -3px -6px 10px rgba(32, 32, 34, 0.25);
  -webkit-box-shadow: -3px -6px 10px rgba(32, 32, 34, 0.25);
  box-shadow: -3px -6px 10px rgba(32, 32, 34, 0.25);
  padding: 42px 0;
}
/* line 361, ../sass/style.scss */
#contact-section .section h3 {
  font-size: 30px;
}
/* line 362, ../sass/style.scss */
#contact-section .section h4 {
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
/* line 363, ../sass/style.scss */
#contact-section .section svg {
  margin: 0 auto 40px;
  display: block;
  width: 154px;
  height: 178px;
}

/* line 368, ../sass/style.scss */
#ceo-blog {
  height: 698px;
}
/* line 370, ../sass/style.scss */
#ceo-blog .section {
  padding: 0;
}
/* line 371, ../sass/style.scss */
#ceo-blog .item {
  height: 698px;
}
/* line 372, ../sass/style.scss */
#ceo-blog .container {
  height: 100%;
  display: table;
}
/* line 373, ../sass/style.scss */
#ceo-blog .box-info-content {
  width: 614px;
  padding-left: 100px;
  position: relative;
}
/* line 375, ../sass/style.scss */
#ceo-blog .box-info-content:before {
  content: "";
  position: absolute;
  left: 0;
  top: -68px;
  width: 88px;
  height: 92px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -314px -99px;
}
/* line 376, ../sass/style.scss */
#ceo-blog .box-info-content h4 {
  font-size: 25px;
  margin: 0 0 30px;
  position: relative;
  line-height: 1.35;
}
/* line 378, ../sass/style.scss */
#ceo-blog .box-info-content h4:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -68px;
  width: 88px;
  height: 92px;
  background: url(../images/bgi/sprites.svg);
  background-repeat: no-repeat;
  background-position: -411px -99px;
}
/* line 380, ../sass/style.scss */
#ceo-blog .box-info-content h5 {
  font-size: 25px;
  font-family: "ProximaRegular", Arial, Helvetica, sans-serif;
}
/* line 381, ../sass/style.scss */
#ceo-blog .box-info-content h6 {
  font-size: 25px;
}
/* line 383, ../sass/style.scss */
#ceo-blog .box-info-content h6 span {
  display: block;
}
/* line 385, ../sass/style.scss */
#ceo-blog .box-info-content .btn-primary {
  margin: 50px 0 0;
}
/* line 387, ../sass/style.scss */
#ceo-blog .item-01, #ceo-blog .item-02 {
  background-image: url(../images/ceo-bg.jpg);
  background-position: 100% 0;
  background-repeat: no-repeat;
}

/* line 392, ../sass/style.scss */
#objective-section .section {
  position: relative;
  overflow: hidden;
  padding: 68px 0;
}
/* line 394, ../sass/style.scss */
#objective-section .section .strip {
  width: 50%;
  right: 0;
  left: auto;
}
/* line 395, ../sass/style.scss */
#objective-section .section .strip-01 {
  border-bottom-color: #fed153;
  border-left-width: 220px !important;
  top: auto;
  right: 0;
  bottom: 0;
}
/* line 396, ../sass/style.scss */
#objective-section .section .strip-02 {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-right-width: 280px !important;
  left: auto;
  right: -60px;
  border-top-color: #e7e7e8;
  bottom: 0;
  top: auto;
}
/* line 397, ../sass/style.scss */
#objective-section .section .container {
  position: relative;
  z-index: 15;
}
/* line 398, ../sass/style.scss */
#objective-section .section .object-chart {
  width: 1020px;
  height: 398px;
  margin: 60px auto 60px;
  position: relative;
}
/* line 400, ../sass/style.scss */
#objective-section .section .object-chart .top-objects {
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 100%;
  height: 225px;
}
/* line 401, ../sass/style.scss */
#objective-section .section .object-chart .triangle-shape {
  height: 198px;
  background: url(../images/trainge-image.png) 0 0 no-repeat;
  width: 298px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}
/* line 402, ../sass/style.scss */
#objective-section .section .object-chart .triangle-strip {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 0;
  width: 100%;
  height: 12px;
  background: #fff;
  border: 2px solid #1993fb;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/* line 403, ../sass/style.scss */
#objective-section .section .object-chart .object-tagline {
  width: 504px;
  border-top: 2px dashed #828282;
  padding-top: 10px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-family: "ProximaRegular", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
}
/* line 404, ../sass/style.scss */
#objective-section .section .object-chart .object-tagline:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  margin-top: -11px;
  right: -2px;
  border-left: 10px solid #828282;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
/* line 406, ../sass/style.scss */
#objective-section .section .object-chart h4 {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "ProximaRegular", Arial, Helvetica, sans-serif;
  position: relative;
  top: 10px;
  margin: 0;
}
/* line 408, ../sass/style.scss */
#objective-section .section .object-chart h4 span {
  display: block;
  text-transform: none;
  margin: 30px 0 0;
  font-size: 18px;
}
/* line 410, ../sass/style.scss */
#objective-section .section .object-chart .left-circle {
  position: absolute;
  text-align: center;
  left: 0;
  top: 50%;
  margin-top: -127px;
  background: url(../images/left-circle-bg.png) 0 0 no-repeat;
  width: 225px;
  height: 225px;
}
/* line 413, ../sass/style.scss */
#objective-section .section .object-chart .right-circle {
  position: absolute;
  text-align: center;
  right: 0;
  top: 50%;
  margin-top: -127px;
  background: url(../images/right-circle.png) -1px 0 no-repeat;
  width: 225px;
  height: 225px;
}
/* line 415, ../sass/style.scss */
#objective-section .section .object-chart .right-circle h4 {
  top: -4px;
}
/* line 418, ../sass/style.scss */
#objective-section .section .readmore {
  position: relative;
  left: -20px;
}

/* line 425, ../sass/style.scss */
.path {
  stroke-dashoffset: 1940;
  stroke: white;
  stroke-width: 0.25;
  stroke-dasharray: 1940;
  animation: draw 10s linear infinite;
  -webkit-animation: draw 10s linear infinite;
  -moz-animation: draw 10s linear infinite;
}

/* line 433, ../sass/style.scss */
.path.fillpath {
  stroke: white;
  stroke-width: 0.25;
}

@-webkit-keyframes draw {
  50% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes draw {
  50% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  50% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fillpath {
  50% {
    fill-opacity: 0;
  }
}
@-moz-keyframes fillpath {
  50% {
    fill-opacity: 0;
  }
}
@keyframes fillpath {
  50% {
    fill-opacity: 0;
  }
}
@-webkit-keyframes drop {
  0% {
    top: 0;
  }
  30% {
    top: 10px;
  }
  100% {
    top: 25px;
  }
}
@keyframes drop {
  0% {
    top: 5px;
  }
  0% {
    top: 10px;
  }
  100% {
    top: 25px;
  }
}
/* line 484, ../sass/style.scss */
#footer {
  background: #201b18;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
}
/* line 487, ../sass/style.scss */
#footer .row a {
  color: #fff;
}
/* line 489, ../sass/style.scss */
#footer .row .text-center p {
  margin: 0;
  text-transform: uppercase;
}
