@mixin sprites($width,$height,$x,$y) {
  width: $width+px;
  height:$height+px;
  background:url($path);
  background-repeat:no-repeat;
  background-position:$x+px $y+px;
}

@mixin text-uppercase() {
	text-transform:uppercase;
}

@mixin text-center() {
	text-align:center;
}

@mixin text-left() {
	text-align:left;
}

@mixin no-padding() {
	padding:0;
}

@mixin no-margin() {
	margin:0;
}

@mixin img-responive() {
	width:100%; height:auto; 	
}

//== Functions

$path: "../images/bgi/sprites.svg";

%no-style{
	margin:0;
	padding:0;
	list-style:none;
}


@mixin background-full() {
	background-position:50% 50%; 
	background-repeat:no-repeat; 
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
}

// Transitions
@mixin transitions($transition-property)  {
	-moz-transition:$transition-property 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); 
	-webkit-transition:$transition-property 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); 
	-o-transition:$transition-property 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); 
	-ms-transition:$transition-property 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); 
	transition:$transition-property 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
}

@mixin transitions-multi($transition-property1, $transition-property2)  {
	-moz-transition:$transition-property1 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), $transition-property2 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000) ; 
	-webkit-transition:$transition-property1 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), $transition-property2 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); 
	-o-transition:$transition-property1 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), $transition-property2 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); 
	-ms-transition:$transition-property1 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), $transition-property2 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); 
	transition:$transition-property1 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), $transition-property2 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
}