@media only screen and (max-width:1200px){
	.container { 
		width:auto; 
		padding:0 $padding-small-horizontal*2; 
	}
	
	body {
		font-size:$font-size-sm;
	}

	.navbar { 
		background:$blue-dark; 
		@include box-shadow(3px 6px 10px rgba(32, 32, 34, 0.25));
		ul { 
			li { 
				padding:0 $padding-small-horizontal+2; 
			}
		}
	}
	.section-container { padding-top:40px; margin-top:-40px; }
	.section {
		.section-box { padding:$padding-small-horizontal*4 0; }
		h3 { font-size:$font-size-h4; }	
	}
	#journey-section {
		.section {
			.container {
				h3 { margin:0 0 $padding-small-horizontal*4; }	
				blockquote { 
					font-size:$font-size-base; 
					padding:0 $padding-small-horizontal*3;
					&:before, &:after { @include transform(scale(0.65)); }
				} 
				.right-container {
					p:first-child	{ font-size:$font-size-base; }
				}
			}
		}
	}
	
	#imagineering-section {
		.section { padding:$padding-small-horizontal*3 0; }	
	}
	#communication-section {
		.section {
			padding:$padding-small-horizontal*4 0;
			.col-container {
				h4 { font-size:$font-size-large; }	
			}
		}
	}
	#objective-section {
		.section { 
			padding:$padding-small-horizontal*3 0; 
			.object-chart { 
				margin:$padding-small-horizontal*3 auto; 
				width:100%;
				.object-tagline { width:150px; }
			}
		}
	}
	
	#ceo-blog {
		height:498px;
		.item { height:498px; }
		.item-01, .item-02 { 
			background-size:50% auto; 
			-webkit-background-size:50% auto; 
			-ms-background-size:50% auto; 
			-moz-background-size:50% auto; 
			background-position:100% 100%; 
		}
		.container { 
			width:100%; 
			.box-info-content {
				 h4, h5, h6 { font-size:$font-size-sm; }	
			}
		}
	}
	
	#employer-section {
		p { margin:$padding-small-horizontal+5 0 0; }	
	}
	
	.carousel-section {
		&.slick-slider {
			.slick-list { margin:0 $padding-small-horizontal*4; }	
		}
		.slick-prev {  
			left:0;
			@include transform(scale(0.65));
			@include transform-origin(left top);
		}
		.slick-next {
			right:-10px;  
			@include transform(scale(0.65));
			@include transform-origin(right top);
		}
	}
	
	#imagineering-section {
		.section {
			h4 { 
				font-size:$font-size-sm;
			}
			.item {
				margin:0 $padding-small-horizontal+(-2);	
			}
		}
	}	
}

@media only screen and (min-width:1023px){
	.navbar > .container > ul { display:block !important; }	
}

@media only screen and (max-width:1023px){
	/* Responsive Menu line icon*/
	
	#menu {  
		color:#fff; 
		padding:$padding-small-horizontal+(-1) $padding-small-horizontal*2+5; 
		@include border-radius(50px);
		width:130px; 
		margin:$padding-small-horizontal auto;
		display:block;
	}
	#menu:hover { 
		color:#01336d; 
	}
	.menulines-button { 
		padding:0; 
		cursor: pointer; 
		user-select: none; 
		text-transform:uppercase; 
		font-size:$font-size-small; 
		text-decoration:none; 
	}
	.menulines-button em { 
		font-style:normal; 
		font-weight:bold;
		 margin-left:$padding-small-horizontal; 
	}
	.menulines-button:hover { 
		text-decoration:none; 
	}
	.menulines { 
		display:inline-block; 
		width:20px; 
		height:2px; 
		background:#fff; 
		position:relative; 
		float:left; 
		margin:11px 0 0 0; 
		@include transitions(all);
		@include opacity(1);
	}
	.menulines:before, .menulines:after { 
		display:inline-block; 
		width:20px; 
		height:2px; 
		background:#fff; 
		position:absolute; 
		left:0; 
		content:''; 
		@include transitions(all);		
		-webkit-transform-origin:0.28571rem center; 
		-moz-transform-origin:0.28571rem center; 
		-ms-transform-origin:0.28571rem center; 
		transform-origin:0.28571rem center; 
	}
	#menu:hover .menulines { 
		background:#01336d; 
	}
	#menu:hover .menulines:before, #menu:hover .menulines:after { background:#01336d; }
	.menulines:before { top:7px; }
	.menulines:after { top:-7px; }
	.menuopen .menulines { background:none; }
	#menu.menuopen:hover .menulines { background:none; }
	.menuopen .menulines:before, .menuopen .menulines:after {  
		-webkit-transform-origin:50% 50%;  
		-moz-transform-origin:50% 50%;  
		-ms-transform-origin:50% 50%; 
		transform-origin:50% 50%; 
		top: 0; 
	} 
	.menuopen .menulines:before { 
		-webkit-transform:rotate3d(0, 0, 1, 45deg); 
		transform:rotate3d(0, 0, 1, 45deg); 
	} 
	.menuopen .menulines:after { 
		-webkit-transform:rotate3d(0, 0, 1, -45deg); 
		transform:rotate3d(0, 0, 1, -45deg); 
	}
	
	#menu.menuopen { 
		background:#fff; 
		color:#01336d; 
	}
	#menu.menuopen .menulines:before, #menu.menuopen .menulines:after { 
		background:#01336d; 
	}
	
	.navbar {
		.container { padding:0; }
		ul { 
			position:absolute;
			background:$blue-dark;
			z-index:200; 
			left:0; 
			top:100%; 
			width:100%; 
			display:none;
			
			li { 
				line-height:1.25;
				border-top:1px solid rgba(0,0,0,.35);
				display:block;
				@include text-left();
				a {
					display:block;
					padding:$padding-small-horizontal $padding-small-horizontal*2;
					&:after { display:none; }
				}
			}
		}	
	}
}

@media only screen and (max-width:1000px){
	.section {
		h3 { font-size:26px; }	
	}
	#mainbanner {
		.box-table { 
			width:90%; 
			.box-info > a { font-size:22px; }
		}	
		h3 {
			font-size:28px;
			padding:0 50px;
			&:before, &:after { @include transform(scale(0.65)); }	
		}
	}
	#ceo-blog {
		.box-info-content {
			&:before { @include transform(scale(0.65)); }	
			h4 {
				margin:0 0 15px;
				&:after { @include transform(scale(0.65)); }
			}
			.btn-primary { margin:$padding-small-horizontal 0 0; }
		}
	}
	#journey-section {
		.section {
			.container {
				blockquote { 
					&:before { left:0; }
					&:after { right:$padding-small-horizontal*2; }
				} 
				.right-container {
					.col-container { padding-left:$padding-small-horizontal*2; }
					p { 
						margin:$padding-small-horizontal+5 0 0; line-height:1.25; 
						&:first-child { font-size:$font-size-sm; }
					}	
				}
			}
		}
	}
	#video-section {
		&:before { width:55%; }
		.strip { width:55%; }
		.container {
			.left-container {
				.col-container { padding-left:0; }	
			}
		}
	}
	
	#who-we-are-section {
		 .section  {
			.strip { width:45%; }
			.col-container { padding-left:0; }	 
			p { margin:15px 0 0; }
		 }
	}
	#communication-section {
		.section {
			.col-sm-4 { width:50%; float:left; }	
		}
	}
	#mission-section {
		.section {
			.strip { width:52%; }
			h3 { padding-left:0; }
			.col-container { padding-left:0; }	
		}
	}
	.readmore { 
		font-size:18px;
		&:before, &:after { 
			@include transform(scale(0.75));
			@include transform-origin((left center));
		}
		&:after { top:-8px; }
	}
}

@media only screen and (max-width:767px){
	body { 
		font-size:$font-size-large;
	}
	.strip , .overlay-bg, .strip-space { 
		display:none; 
	}
	#mainbanner {
		height:auto;
		padding:$padding-small-horizontal*8 0; 
		.box-table { width:100%; }	
	}
	#header {
		padding:$padding-small-horizontal*2 0;
		#logo   {
			width:200px;
			float:left;
			margin-left:$padding-small-horizontal;
			padding:0;	
		}
	}
	.round-button { 
		position:relative; 
		display:block;
		
		span {
			padding:0 $padding-small-horizontal+5;	
		}
	}
	
	.readmore {
		width:104px;	
	}
	
	.section {
		h3 { margin:0 0 $padding-small-horizontal*2; }
		.section-box-info {
			overflow:inherit;	
		}
		.section-box { 
			padding:$padding-small-horizontal*3 0 0;
			overflow:inherit;
		}	
	}
	#journey-section {
		.section {
			background:$gray-dark;
			&:before { display:none; }	
			.container {
				blockquote {
					padding:0 $padding-small-horizontal*5;
					br { display:none; }	
				}
				.right-container {
					.col-container { padding:$padding-small-horizontal+(-5) $padding-small-horizontal+5; }
					p:first-child { font-size:$font-size-h6; }
				}
				.row {
					margin:0 (-$padding-small-horizontal*2);
					 > div:last-child { 
					 	margin:$padding-small-horizontal*13 0 0;
						background:$gray-darker; 
						padding:$padding-small-horizontal*3 $padding-small-horizontal+5;
						&:before { 
							content:""; 
							width:0; 
							height:0; 
							border-bottom:100px solid $gray-darker; 
							border-left:974px solid transparent; 
							position:absolute; 
							left:0; 
							bottom:100%; 
						}
					}
				}
			}
		}
	}
	
	#video-section {
		&:before { display:none; }
		.container {
			.row {
				margin:0 (-$padding-small-horizontal*2);
			}
			.left-container {
				padding:0 $padding-small-horizontal+5;
				position:relative;
				z-index:20;
				.col-container { 
					padding:0 $padding-small-horizontal+5;
				}
				&:before {
					content:""; 
					width:0; 
					height:0; 
				  	border-top:100px solid $orange; 
					border-left:974px solid transparent; 
					position:absolute; 
					left:0; 
					margin-top:36px;
					@include rotate(-7deg);
					top:100%; 
				}
				&:after {
					content:""; 
					width:0; 
					height:0; 
				  	border-top:100px solid $white; 
					border-right:974px solid transparent; 
					position:absolute; 
					left:0; 
					top:100%; 
					z-index:10;
				}
			}
			.right-container { 
				background-image:url(../images/video-bg.jpg); 
				@include background-full(); 
				padding:$padding-small-horizontal*12 $padding-small-horizontal+5 $padding-small-horizontal*3;
				.round-button { 
					float:right; 
					margin-right:$padding-small-horizontal*2;
				}
				@include clearfix();	
			}
		}
	}
	
	#who-we-are-section {
		.row { 
			margin:0 (-$padding-small-horizontal*2);
			> div:first-child {
				position:relative;
				z-index:20;
				.round-button { 
					float:left; 
					font-size:$font-size-xs-small; 
					margin-left:$padding-small-horizontal*2;
				}
				@include clearfix();	
			}
			> div:last-child {
				background:rgba(9,15,27,0.7);
				.col-container {
					margin-top:$padding-small-horizontal*6+6;
					padding:$padding-small-horizontal+5 $padding-small-horizontal+5 $padding-small-horizontal*4;	
				}
				&:before { 
					content:""; 
					width:0; 
					height:0; 
				  	border-bottom:140px solid rgba(9,15,27,0.7); 
					border-left:974px solid transparent; 
					position:absolute; 
					left:0; 
					bottom:100%; 
					z-index:10;
				
				}
			}
		}	
	}
	
	#ceo-blog {
		height:398px; 
		.item { 
			height:398px;
		}
		.box-info-content {
			width:auto;
			padding:0 $padding-small-horizontal*4;
			&:before {
				@include transform(scale(0.45));
				left:(-$padding-small-horizontal*2);	
			}
			h4 { 
				&:after {
					@include transform(scale(0.45));
					@include transform-origin(right bottom);
					bottom:(-$padding-small-horizontal*5);	
				}
			}
			.btn-primary {
				padding:$padding-small-horizontal $padding-small-horizontal*3;	
				font-size:$font-size-sm;
				
			}
		}
	}
	
	#employer-section {
		.section-box {
			padding:0 0 $padding-small-horizontal*3;
		}
		.row { 
			margin:0 (-$padding-small-horizontal*2);
			.container-row { 
				width:auto;
				margin-bottom:$padding-small-horizontal*10;
				background:rgba(9,15,27,0.7);
				position:relative;
				.col-container {
					padding:$padding-small-horizontal*3 $padding-small-horizontal+5 $padding-small-horizontal*4;		
				}
				&:after {
					content:""; 
					width:0; 
					height:0; 
				  	border-top:100px solid rgba(9,15,27,0.7); 
					border-left:974px solid transparent; 
					position:absolute; 
					left:0; 
					top:100%; 
					z-index:10;
				}
			}
			
			.container-row-right {
				width:auto;
				.round-button {
					float:left;
					margin:(-$padding-small-horizontal*6) 0 0 $padding-small-horizontal*3;
					font-size:$font-size-xs-small;	
				}
				@include clearfix();
			}
			
		}
	}
	
	
	#mission-section {
		.section {
			background-image:url(../images/mission-bg.jpg); 
			@include background-full();
			&:before { 
				background:rgba(255,255,255,.85); 
				width:100%;
			}	
			.section-box { padding:$padding-small-horizontal*3 0; }
			.row {
				margin:0 (-$padding-small-horizontal*2);
				.container-row { 
					width:auto;
					@include text-left();
					position:static;
					h3 { 
						@include text-left();
					}
					.col-container {
						position:relative;
						z-index:20;	
					}
					&:before { 
						content:""; 
						width:0; 
						height:0; 
						border-top:455px solid $orange; 
						border-left:974px solid transparent; 
						position:absolute; 
						right:(-$padding-small-horizontal*2); 
						bottom:0; 
						z-index:10;
					}
					&:after { 
						content:""; 
						width:0; 
						height:0; 
						border-top:455px solid $white;
						border-left:974px solid transparent; 
						position:absolute; 
						right:(-$padding-small-horizontal*3); 
						bottom:0; 
						z-index:15;
						@include transform(rotate(-3deg));
					}

				}
			}
		}
	}
	
	#objective-section {
		.section {
			.object-chart {
				height:342px;
				.triangle-shape { 
					width:218px;
					@include transform(scale(0.75));
				}	
				.top-objects {
					bottom:$padding-small-horizontal*5+6;	
				}
				.object-tagline, .left-circle, .right-circle {
					@include transform(scale(0.75));
					@include transform-origin((left,center));
				}
				.left-circle {
					left:(-$padding-small-horizontal*2);	
				}
				.right-circle {
					right:(-$padding-small-horizontal*2);
				}	
			}	
		}
	}
	
	#contact-section {
		.section {
			h3,h4 { 
				font-size:$font-size-h6;
			}
		}
	}
	
}

@media only screen and (max-width:640px){
	.section {
		h3 { font-size:22px; }	
	}
	
	#mainbanner {
		h3 {
			font-size:$font-size-large; 
			padding:0 $padding-small-horizontal+5;
			span { display:inline-block; }
			&:before {
				@include transform(scale(0.35));
				@include transform-origin(left top);	
			}
			&:after {
				@include transform(scale(0.35));
				@include transform-origin(right bottom);	
			}
		}	
		ul {
			margin:$padding-small-horizontal*3 0 0;
			li { 
				float:none;
				display:block;
				margin:0 0 $padding-small-horizontal;
			}
		}
	}
	
	#journey-section {
		.section {
			.container {
				h3 { 
					margin:0 0 $padding-small-horizontal*2; 
				}	
				blockquote {
					font-size:$font-size-large;
					&:before, &:after {
						@include transform(scale(0.5));	
					}
					&:before { 
						margin-bottom:(-$padding-small-horizontal*6);
					}
				}
			}
			.row {
				> div:last-child {
					margin:$padding-small-horizontal*9 0 0;	
				}
			}
		}
	}

	#communication-section {
		.section {
			.col-sm-4 { width:auto; float:none; }	
		}
	}
	
	#objective-section {
		.section {
			.readmore {
				left:0;
			}	
			.object-chart {
				height:200px;
				width:100%;
				margin:$padding-small-horizontal*6 0 0;
				.triangle-shape { 
					width:218px;
					@include transform(scale(0.35));
				}	
				.top-objects {
					bottom:56px;	
					height:152px;
				}
				.left-circle {
					@include transform(scale(0.35));
					@include transform-origin((left center));
					left:0;
				}
				.right-circle {
					@include transform(scale(0.35));
					@include transform-origin((right center));
					right:0;					
				}
				.object-tagline {
					@include transform(scale(0.5));
					@include transform-origin((center center));
					top:5px;
				}
				.left-circle {
					left:(-$padding-small-horizontal*2);	
				}
				.right-circle {
					right:(-$padding-small-horizontal*2);
				}	
				.triangle-strip {
					height:6px;
					margin-top:(-$padding-small-horizontal+(-5));
					border-width:1px;	
				}
			}	
		}
	}
	
	#contact-section {
		.section {
			h4 { font-size:22px; }	
		}
	}

	#ceo-blog {
		height:auto;
		.item { 
			padding:$padding-small-horizontal*6 0 0; 
			height:auto; 
			background:none;
		}	
		.box-info {
			display:block;
			margin:0 0 $padding-small-horizontal*5;	
		}
		.slick-dots { 
			position:relative;
			bottom:$padding-small-horizontal*2;
		}
	}

}