$bootstrap-sass-asset-helper: false !default;


//
// Variables
// --------------------------------------------------


//== Colors
$dark-gray:#201b18;
$dark-blue:#1559bc;

$font-color:#1c2c42;
$white:#fff;
$black:#000;

//== Fonts
$font-family-base:'ProximaLight',Arial, Helvetica, sans-serif;

$font-size-base:16px !default;

$font-size-large:ceil(($font-size-base * 1.11)) !default; // ~20px
$font-size-small: ceil(($font-size-base * 0.8)) !default; // ~16px
$font-size-xs-small: ceil(($font-size-base * 0.7)) !default; // ~14px
$font-size-lm:ceil(($font-size-base * 1.5)) !default; // ~30px

$font-size-h1: floor(($font-size-base * 2.4)) !default; // ~48px
$font-size-h2: floor(($font-size-base * 2.25)) !default; //~45px
$font-size-h3: ceil(($font-size-base * 1.875)) !default; //~30px
$font-size-h4: ceil(($font-size-base * 1.4)) !default; // ~28px
$font-size-h5: ceil(($font-size-base * 1.2)) !default; // ~24px
$font-size-h6: ceil(($font-size-base * 0.9)) !default; // ~18px

$line-height-base:1.428571429 !default; // 20/14





$padding-base-vertical:6px !default;
$padding-base-horizontal:12px !default;

$padding-large-vertical:10px !default;
$padding-large-horizontal:16px !default;

$padding-small-vertical:5px !default;
$padding-small-horizontal:10px !default;

$padding-xs-vertical:1px !default;
$padding-xs-horizontal:5px !default;



//== Functions

%no-style{
	margin:0;
	padding:0;
	list-style:none;
}

@mixin sprites($width,$height,$x,$y) {
  width: $width+px;
  height:$height+px;
  background:url(../images/bgi/sprites.svg);
  background-repeat:no-repeat;
  background-position:$x+px $y+px;
}

%background-full{
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
}

