$bootstrap-sass-asset-helper: false !default;


//
// Variables
// --------------------------------------------------


//== Colors
$dark-gray:#201b18;
$dark-blue:#1559bc;
$blue:#1a90f5;
$blue-light:#0756cf;
$blue-nav:#1759c9;
$grey:#383f47;
$light-grey:#444a52;

$font-color:#0f1521;
$white:#fff;
$black:#000;

p { margin:0 0 25px; line-height:1.35; }

//== Fonts
$font-family-base:'ProximaLight',Arial, Helvetica, sans-serif;
$font-family-bold:'ProximaBold',Arial, Helvetica, sans-serif;
$font-family-regular:'ProximaRegular',Arial, Helvetica, sans-serif;

$font-size-base:25px !default;

$font-size-large:ceil(($font-size-base * 1.11)) !default; // ~20px
$font-size-small: ceil(($font-size-base * 0.64)) !default; // ~16px
$font-size-xs-small: ceil(($font-size-base * 0.7)) !default; // ~14px
$font-size-lm:ceil(($font-size-base * 1.28)) !default; // ~32px

$font-size-h1: ceil(($font-size-base * 1.68)) !default; // ~42px
$font-size-h2: floor(($font-size-base * 2.25)) !default; //~45px
$font-size-h3: ceil(($font-size-base * 1.52)) !default; //~38px
$font-size-h4: ceil(($font-size-base * 1.4)) !default; // ~35px
$font-size-h5: ceil(($font-size-base * 1.2)) !default; // ~30px
$font-size-h6: ceil(($font-size-base * 0.88)) !default; // ~24px

$line-height-base:1.428571429 !default; // 20/14





$padding-base-vertical:6px !default;
$padding-base-horizontal:12px !default;

$padding-large-vertical:10px !default;
$padding-large-horizontal:16px !default;

$padding-small-vertical:5px !default;
$padding-small-horizontal:10px !default;

$padding-xs-vertical:1px !default;
$padding-xs-horizontal:5px !default;



//== Functions

%no-style{
	margin:0;
	padding:0;
	list-style:none;
}

@mixin sprites($width,$height,$x,$y) {
  width: $width+px;
  height:$height+px;
  background:url(../images/bgi/sprites.svg);
  background-repeat:no-repeat;
  background-position:$x+px $y+px;
}

%background-full{
	background-position:50% 50%; 
	background-repeat:no-repeat; 
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
}

